<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-verified-action-heading" jhiTranslate="jorgeluiskyrkosApp.verifiedAction.home.createOrEditLabel">Create or edit a Verified Action</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!verifiedAction.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="verifiedAction.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jorgeluiskyrkosApp.verifiedAction.depositAmount" for="field_depositAmount">Deposit Amount</label>
                    <input type="number" class="form-control" name="depositAmount" id="field_depositAmount"
                        [(ngModel)]="verifiedAction.depositAmount" required/>
                    <div [hidden]="!(editForm.controls.depositAmount?.dirty && editForm.controls.depositAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.depositAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.depositAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jorgeluiskyrkosApp.verifiedAction.dateInstant" for="field_dateInstant">Date Instant</label>
                    <div class="d-flex">
                        <input id="field_dateInstant" type="datetime-local" class="form-control" name="dateInstant" [(ngModel)]="dateInstant"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.dateInstant?.dirty && editForm.controls.dateInstant?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateInstant?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dateInstant?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jorgeluiskyrkosApp.verifiedAction.action" for="field_action">Action</label>
                    <select class="form-control" id="field_action" name="action" [(ngModel)]="verifiedAction.action">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="actionOption.id === verifiedAction.action?.id ? verifiedAction.action : actionOption" *ngFor="let actionOption of actions; trackBy: trackActionById">{{actionOption.address}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jorgeluiskyrkosApp.verifiedAction.bank" for="field_bank">Bank</label>
                    <select class="form-control" id="field_bank" name="bank" [(ngModel)]="verifiedAction.bank">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bankOption.id === verifiedAction.bank?.id ? verifiedAction.bank : bankOption" *ngFor="let bankOption of banks; trackBy: trackBankById">{{bankOption.account}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
