<div class="row justify-content-center">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-6">
        <div>
            <h2><span>Το ξεπέρασμα της τύχης</span></h2>
            <hr>
            <dl class="row-md jh-entity-details">
                <dt><span>Νιώθεις ευγνωμοσύνη για τους ανθρώπους που σε βοήθησαν να γίνεις αυτό που είσαι;</span></dt>
                <dd>
                    <span></span>
                </dd>
                <dt><span>Πιστεύεις ότι κάποια από αυτά που έχεις πετύχει τους τα οφείλεις;</span></dt>
                <dd>
                    <span></span>
                </dd>
                <dt><span>Θέλεις κι εσύ να βοηθήσεις ανθρώπους που δεν είχαν την ίδια τύχη;</span></dt>
                <dd>
                    <span></span>
                </dd>
                <dt><span>Το βιβλίο «Ποδοσφαιρικά κβάντα» μιλάει για την οικονομική ηθική, μέσα από μικρές ιστορίες για το ποδόσφαιρο. Θα χαρώ πολύ να στο χαρίσω. Το μόνο που έχεις να κάνεις είναι να προσφέρεις ένα συμβολικό ποσό σε οποιοδήποτε εγκεκριμένο φιλανθρωπικό ίδρυμα.</span></dt>
                <dd>
                    <span></span>
                </dd>
                <dd>
                    <span></span>
                </dd>
                <dd>
                    <span>1.  Διάλεξε το φιλανθρωπικό ίδρυμα που επιθυμείς. Προαιρετικά μπορείς να επιλέξεις από αυτή τη λίστα:<button class="btn btn-lg btn-outline-primary" (click)="open()">Προαιρετική λίστα</button></span>
                </dd>
                <dd>
                    <span>2. Κάνε μια τραπεζική κατάθεση όποιου ποσού θέλεις.</span>
                </dd>
                <dd>
                    <span>3. Σκάναρε το καταθετήριο.</span>
                </dd>
                <dd>
                    <span>4. Ανέβασε το καταθετήριο στην ιστοσελίδα μας και συμπλήρωσε την ταχυδρομική διεύθυνση που θέλεις να αποσταλεί το βιβλίο. </span>
                </dd>
                <button id="jh-create-entity" class="btn btn-primary float-center jh-create-entity create-action" [routerLink]="['/action/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span>Εισαγωγή καταθετηρίου</span>
                </button>
                <dd>
                    <span></span>
                </dd>
                <jhi-alert></jhi-alert>
                <dd>
                    <span></span>
                </dd>
                <dd>
                    <span></span>
                </dd>
                <dd>
                    <span><i>Τα ταχυδρομικά έξοδα καλύπτονται από τον συγγραφέα. Το βιβλίο «Ποδοσφαιρικά κβάντα» δεν πωλείται στα βιβλιοπωλεία. Μόνο χαρίζεται.</i></span>
                </dd>
            </dl>
            <span class="float-left">Ο Γιώργος Λούης Κύρκος γεννήθηκε το 1973 στην Αθήνα. Πέρασε την παιδική του ηλικία παίζοντας ποδόσφαιρο στις γειτονιές του Νέου Κόσμου. Μεγαλώνοντας, αγάπησε την ιστορία, τη φιλοσοφία και τα βιβλία.  Σπούδασε μηχανικός και εργάστηκε στη βιομηχανία. Ποτέ δεν σταμάτησε να αναρωτιέται. </span>
        </div>
    </div>
    <div class="col-md-3 donators-table">
        <div class="over-table-header">
            <div class="row">
                <div class="col-md-12">
                    <span>Δωρητές: {{ donatorsCounter }}</span>
                </div>
<!--                <div class="col-md-6">-->
<!--                    <span>Σύνολο: {{totalDonations()}}€</span>-->
<!--                </div>-->
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Όνοματεπώνυμο</th>
<!--                <th scope="col">Ποσό</th>-->
<!--                <th scope="col">Ημερομηνία</th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let donator of donators | filteredDonators; index as i" >
                <td *ngIf="donator.verified && donator.visible" scope="row">{{ i + 1 }}</td>
                <td *ngIf="donator.verified && donator.visible">
                    {{ donator.name }}
                </td>
<!--                <td>{{ donator.amount | number }}€</td>-->
<!--                <td>{{ donator.date | date }}</td>-->
            </tr>

            </tbody>
        </table>
    </div>


</div>
