<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="action">
            <h2><span>Εισαγωγή καταθετήριου και διεύθυνσης για την αποστολή του βιβλίου</span> {{action.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Όνομα</span></dt>
                <dd>
                    <span>{{action.name}}</span>
                </dd>
                <dt><span>Email (για επικοινωνία σε περίπτωση κάποιας δυσλειτουργίας)</span></dt>
                <dd>
                    <span>{{action.email}}</span>
                </dd>
                <dt><span>Διεύθυνση (οδός αριθμός, Περιοχή, ΤΚ)</span></dt>
                <dd>
                    <span>{{action.address}}</span>
                </dd>
                <dt><span>Καταθετήριο (σκαναρισμένη εικόνα)</span></dt>
                <dd>
                    <div *ngIf="action.depositReceipt">
                        <a (click)="openFile(action.depositReceiptContentType, action.depositReceipt)">
                            <img [src]="'data:' + action.depositReceiptContentType + ';base64,' + action.depositReceipt" style="max-width: 100%;" alt="action image"/>
                        </a>
                        {{action.depositReceiptContentType}}, {{byteSize(action.depositReceipt)}}
                    </div>
                </dd>
                <dt><span>Μύνημα προς τον jorgeluiskyrkos</span></dt>
                <dd>
                    <span>{{action.messageText}}</span>
                </dd>
                <dt><span>Θέλετε να συμπεριληφθεί το όνομα σας στην λίστα με τους δωρητές?</span></dt>
                <dd>
                    <span>{{action.visible}}</span>
                </dd>
                <dt><span jhiTranslate="jorgeluiskyrkosApp.action.verified">Verified</span></dt>
                <dd>
                    <span>{{action.verified}}</span>
                </dd>
            </dl>

            <!--
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/action', action.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
            -->
        </div>

        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-action-heading">Επαλήθευση</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <!--
                <div class="form-group" [hidden]="!action.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="action.id" readonly />
                </div>
                -->
                <div class="form-group">
                    <label class="form-control-label" for="field_visible">Η κατάθεση είναι σωστή και δικαιούται το βιβλίο.</label>
                    <input type="checkbox" class="form-control" name="visible" id="field_visible" [(ngModel)]="action.verified" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>

    </div>

</div>
